<h1>Users Profile</h1>
<p><%= current_user.email %></p>

<div class="pull-right">
  <%= link_to "New Task", new_user_item_path(current_user), class: 'btn btn-success' %>
</div>

<div class="media">
  <div class="media-body">
    <%= @items.each do |item| %>
    <h4 class="media-heading">
      <%= item.name %>
    </h4>
    <% end %>
  </div>
</div>
