<h1>Welcome to Blocitoff</h1>

<h4>Users</h4>

<div class="media">
  <div class="media-body">
    <%= @users.each do |user| %>
    <h4 class="media-heading">
      <p><%= user.email %></p>
    </h4>
    <% end %>
  </div>
</div>
